body {
    color: #ddd;
    background-color: #222;
  }
  
  h1 {
    color: green;
    font-style: italic;
  }
  
  .note {
    color: #ddd;
    padding-top: 3px;
    font-size: 15px;
  }
  
  button {
    background-color: #666;
    border-color: #999;
  }
  
  input {
    background-color: #999;
    border-color: #666;
  }
  
  .error {
    color: red;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .notification {
    color: green;
    background: lightgray;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .loginBox {
    border: 1px solid #fff;
    padding: 1em;
    margin: 0 0 1em 0;
    width: 20%;
  }

  .blogListElement {
    margin: 0 0 1em 0;
  }

  .blogShowElement {
    border: 1px solid #fff;
    padding: 0.5em;
    margin: 0 0 0.5em 0;
  }

  .blogTitle {
    margin-right: 0.5em;
  }